* {
    font-family: 'Times New Roman', Times, serif;
}

footer {
    background-color: #333;
    color: white;
    border: none;
    margin: 0;
    padding: 0;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    left: 0;
}

footer p {
    text-align: center;
    padding: 10px;
    margin: 0;
 }

ul {
    text-align: left;
    margin: 20px;
}

.specification {
    text-align: left;
    border: none;
    margin: 0;
}

.contact {
    text-align: left;
    border: none;
    margin: 0;
    margin-left: 20px;
}

.footlink {
    color: antiquewhite;
}

.footlink:hover {
    color: aqua;
    text-decoration: underline;
}