.nav-links {
    list-style-type: none;
    margin: 0px;
    top: 0;
    left: 0;
    display: flex;
    padding: 0;
    font-size: 20px;    
    border: 1px blue;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background-color: darkcyan;
    position: fixed;
}

li a {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    padding: 7px;
    color: aqua;
    text-decoration: none;
}
li a:hover {
    transition: ease;
    scale: 1.1;
    text-decoration: underline;
    transition-duration: 200ms;
    height: fit-content;
}

img {
    height:50px;
    width: 50px;
}