/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f8b400, #fce38a);
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    padding: 40px 10%;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
}

section {
    margin-bottom: 40px;
}

h1, h2 {
    font-family: 'Verdana', sans-serif;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
    font-family: 'Verdana', sans-serif;
    margin-bottom: 20px;
}

button {
    background-color: #f8b400;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #fce38a;
}

/* Buttons */
.btn {
    background-color: #f8b400;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #fce38a;
}