body {
    background-image: url(/static/img/Toast.png);
    background-size: contain;
    margin: 0;
    padding: 0;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div {
    margin: 50px;
}

.div1 {
    color: rgb(240, 10, 10);
    background-color: chartreuse;
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
    border: 2px solid orange;
    transition: 1000ms ease;
}

.div1:hover {
    background-color: gold;
    transition: 1000ms ease;

}

button {
    border: 2px solid orange;
    border-radius: 10px;
    font-display: center;
    margin-top: 20px;
    margin-left: 40%;
    padding: 5px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    transition: 500ms ease;
}

button:hover {
    scale: 1.2;
    transition: 500ms ease-in-out;
}

input {
    border: 2px solid black;
    border-radius: 13px;
    padding: 5px;
    width: 100%;
    color: blueviolet;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}