body {
    background-image: url(/static/img/Toast.png);
    padding: 0;
    margin: 0;
    background-position-y: 50px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 150px;
}

#div2 {
    background-color: chartreuse;    
    color: green;
    font-size: 20px;
    border: 2px solid black;
    text-align: justify;
    border-radius: 20px;
    align-content: center;
    padding: 20px;
    margin: 100px;
    justify-content: center;
    align-items: center;
    width: 300px;
    transition: 1000ms;
}

#div2:hover {
    background-color: darkorange;
    transition: 1000ms;
}

#inp {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 90%;
    padding: 5px;
    justify-content: center;
    align-content: center;
}

#inp:hover {
    border-color: aqua;
}

button {
    border: 2px solid black;
    display: flex;
    margin-left: 40%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    align-self: center;
}