<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="\static\css\aboutus.css">
</head>
<body>

<header>
    {% include "header.html" %}
</header>

<main>
    <section>
        <h2>Indori Special Toast</h2>
        <p>We offers toast. Our Toasts are made using the finest locally sourced bread, perfectly toasted to a golden crisp and topped with a variety of fresh, vibrant ingredients.
<br>
We offer crisp, tasty, delicious, sweet toasts. We provide quality toasts with no chemical ingredients.
<br>    Our toasts also include seasame seeds.
        We are committed to providing high-quality, nutritious, and sustainable options that everyone can enjoy, just fantastic flavor in every bite.</p>
        <p>Feel free to reach out for any questions or clarifications.</p>
    </section>
</main>

<footer>
    {% include "footer.html" %}
</footer>

</body>
</html>
