<link rel="stylesheet" href="/static/css/footer.css">
<p>© 2024 Indori Special Toast</p>
<p>Imported from Indore</p>
<div class="specification">
    <ul>
        <li>Delicious</li>
        <li>Crispy</li>
        <li>Tasty</li>
        <li>Fresh</li>
    </ul>
</div>
<div class="contact">
    Contact: +91 93595 18708 | +91 83907 82268
    <br>
    Email: kushagraprajapat9399@gmail.com
</div>
<div class="contact">
    <p>Website Designed By @<a href="https://www.linkedin.com/in/kushagra-prajapat-93107b271/", class="footlink">Kushagra Prajapat</a></p>
</div>