<header>
    <link rel="stylesheet" href="/static/css/header.css">
    <script src="/static/js/header.js"></script>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About us</a></li>
            <li><a href="/product">Products</a></li>
            {% if user.is_on %}
                <li><a href="/profile" id="profile"><img src="/static/img/workplace.jpg" alt="KP"></a></li>
                
                <!-- Logout form -->
                <form action="{% url 'logout_user' %}" method="POST" id="logout-form" style="display:none;">
                    {% csrf_token %}
                </form>
                <li><a href="#" id="logout" onclick="document.getElementById('logout-form').submit();">Logout</a></li>
            {% else %}
                <li><a href="/sign-in" id="signin">Sign In</a></li>
                <li><a href="/login-page" id="login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
