<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="\static\css\index.css">
</head>
<body>

<header>
    {% include "header.html" %}
</header>

<main>
    <section>
        <h2>Welcome to Our Website...</h2>
        <p>We sell amazing edible products throughout Pune, which are good for health and are tasteful.</p>
        <p>Here you can place order also. You can see the reviews of each product and can try also.</p>
        <br>
        <a href="/about-us/" class="btn">Learn More</a>
    </section>
</main>

<footer>
    {% include "footer.html" %}
</footer>

</body>
</html>
