<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Display</title>
    <link rel="stylesheet" href="/static/css/product.css">
    <script src="/static/js/product.js"></script>
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>
    <div class="products">
        {% for i in product_data %}
        <div class="product-card">
            <!-- Product Image -->
            <img src='{{i.product_image}}' alt="Product Image">
            
            <!-- Product Details -->
            <div class="product-details">
                <h2 class="product-title">{{i.product_title}}</h2>
                <p class="product-description">
                    {{i.product_des}}
                </p>
                <p class="product-price">{{i.product_price}}</p>
                
                <!-- Buy Button -->
                <button class="buy-button", onclick=order()>Buy Now</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>
