<html>
    <head>
        <title>
            Profile
        </title>
    </head>
    <header>
        {% include "header.html" %}
    </header>
    <link rel="stylesheet" href="/static/css/profile.css">
    <script src="/static/js/profile.js"></script>
    <body>
        <h4>
            <p>Hi, <span id="name">{{ user.username }}</span></p>
            <hr>
            Mobile Number: <span id="mobile">{{ user.mobile }}</span>
            <hr>
            Email: <span id="email">{{ request.user.email }}</span>
        </h4>
        <hr>
        <form action="{% url 'logout_user' %}" method="POST" id="logout-form" style="display:none;">
            {% csrf_token %}
        </form>
        <hr>
        <button onclick="document.getElementById('logout-form').submit();">Logout</button>
    <footer>
        {% include "footer.html" %}
    </footer>
    </body>
</html>