<html>
    <head>
        <title>
            Sign In
        </title>
        <link rel="stylesheet" href="/static/css/signin.css">
        <script src="/static/js/signin.js"></script>
    </head>
    <header>
        {% include "header.html" %}
    </header>
    <body>
        <br>
        <div id = "div2">
            <div id = "div1">
                Hi, Kushagra Prajapat here!!!
                <br>Welcome to my Website
            </div>
            <br>
            <form action="/">
            Name:
            <br>
            <input type="text", id="inp", placeholder="Name" required>
            <br>
            Mobile Number:
            <br>
            <input type="phone2numeric", id="otp", placeholder="Mobile Number" required>
            <button onclick="event.preventDefault(); sendOTP();">Send OTP</button>
            <br>
            Email:
            <br>
            <input type="email", id="inp", placeholder="Email">
            <br>
            Create Password: <br>
            <input id="inp", placeholder="Password" required>
            <br>
            Confirm Password:
            <br>
            <input type="Password", id="inp", placeholder="Re-enter Password">
            <br>
            <button id="button">Sign In</button>
            Already have an Account? <a href="/login-page">LogIn</a>
        </form>
        </div>
        <footer>
            {% include "footer.html" %}
        </footer>
    </body>
</html>